// configure stuff
autom4te.cache/
config.log
config.status
config.h
configure
cups-config
Makedefs

// templates
templates/header.tmpl
templates/*/header.tmpl

// doc
doc/index.html
doc/*/index.html
desktop/cups.desktop

// conf
conf/cupsd.conf
conf/mime.convs
conf/cups-files.conf
conf/pam.std
conf/snmp.conf

// man 
man/client.conf.man
man/cups-files.conf.man
man/cups-lpd.man
man/cups-snmp.man
man/cupsaddsmb.man
man/cupsd.conf.man
man/cupsd.man
man/lpoptions.man

// package files
packaging/cups.list

// scheduler files
scheduler/cups-lpd.xinetd
scheduler/cups.sh
scheduler/cups.xml
scheduler/org.cups.cups-lpd.plist
scheduler/org.cups.cups-lpdAT.service
scheduler/org.cups.cupsd.path
scheduler/org.cups.cupsd.service
scheduler/org.cups.cupsd.socket

// ignore all built files
*.o
*.dll
*.a
*.def
*.exe
*.cgi
backend/http
ppdc/sample.c
scheduler/convert
systemv/accept
systemv/cupsdisable
systemv/cupsenable
systemv/cupsreject
systemv/reject

// ignore new generated man files
man/*1
man/*5
man/*7
man/*8
man/*1.gz
man/*5.gz
man/*7.gz
man/*8.gz

// my local build file
build.txt

// testsuite
cgi-bin/testhi.index
cups/locale/
cups/test.pwg
filter/test.raster
ppdc/ppd/
ppdc/ppd2/
ppdc/sample-import.drv
